<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div id="main">
  <div id="general" class="slide">
    <img src="/images/en/general.png" usemap="#head_map">
  </div>
  <div id="apps" class="slide">
    <img src="/images/en/apps.png" usemap="#head_map">
  </div>
  <div id="customer" class="slide">
    <img src="/images/en/customer_service.png" usemap="#head_map">
  </div>
  <div id="services" class="slide">
    <img src="/images/en/services.png" usemap="#head_map">
  </div>

</div>
<map name="head_map">
  <area shape="rect" coords="0,600,313,680"  onclick="slide('general')" href="#" alt="General">
  <area shape="rect" coords="474,600,642,680"  onclick="slide('apps')" href="#" alt="Apps">
  <area shape="rect" coords="817,600,1423,680"  onclick="slide('customer')" href="#" alt="Customer">
  <area shape="rect" coords="1584,600,1890,680"  onclick="slide('services')" href="#" alt="Services">
</map>

</body>
</html>
