<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div id="main">
  <div id="general" class="slide">
    <img src="/images/de/general.png" usemap="#head_map">
  </div>
  <div id="apps" class="slide">
    <img src="/images/de/apps.png" usemap="#head_map">
  </div>
  <div id="customer" class="slide">
    <img src="/images/de/customer_service.png" usemap="#head_map">
  </div>
  <div id="services" class="slide">
    <img src="/images/de/services.png" usemap="#head_map">
  </div>

</div>
<map name="head_map">
  <area shape="rect" coords="0,600,350,680"  onclick="slide('general')" href="#" alt="General">
  <area shape="rect" coords="430,600,610,680"  onclick="slide('apps')" href="#" alt="Apps">
  <area shape="rect" coords="710,600,1190,680"  onclick="slide('customer')" href="#" alt="Customer">
  <area shape="rect" coords="1296,600,1866,680"  onclick="slide('services')" href="#" alt="Services">
</map>

</body>
</html>
